extends ./layouts/main

block content
    h1 SERIES
    a(href=routes.series + routes.seriesCreate) Create
    each item in series
        a(href=`${routes.series}/${item.id}`)
            h3=item.title
            p=item.description