header.header
    .header__column
        a(href=routes.home)
            .header__column__logo
                i.fas.fa-globe.fa-lg
            .header__column__title
                | Dooravel
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term...", name="term")
    .header__column
        ul
            li 
                a(href=routes.login) Login
            li
                a(href=routes.logout) Logout
            li
                a(href=routes.series) Series